aiohttp
aiosignal
async-timeout
attrs
black
certifi
charset-normalizer
click
exceptiongroup
fire
flake8
frozenlist
gitdb
GitPython
idna
iniconfig
isort
mccabe
multidict
mypy-extensions
openai
packaging
pathspec
platformdirs
pluggy
prompt-toolkit
pycodestyle
pyflakes
Pygments
pytest
pytest-mock
pytest-repeat
pytest-reportlog
python-dotenv
regex
requests
ruff
six
smmap
termcolor
tiktoken
tomli
tqdm
urllib3
wcwidth
yarl
